[Desktop Entry]
Type=Application
Name=kb-kill Tray
GenericName=Input Device Disabler Tray
Comment=Tray icon to disable/enable target keyboards and mice via kb-kill
Exec=/usr/local/bin/kb-kill-tray
Icon=/usr/local/share/kb-kill/icons/kb-kill-killed.svg
Terminal=false
Categories=Utility;System;
Keywords=keyboard;mouse;touchpad;disable;lock;kb-kill;
StartupNotify=false
